// Variables
$bg-colorDesktop:#8f94fb;
$bg-colorTablet:rgb(192, 173, 173);
$bg-colorDark:black;
$font-use-light:'Ubuntu',
'Ubuntu-Light';
$font-use-regular: 'Ubuntu',
'Ubuntu-Regular';
$font-weight-base:100;