@import "variables";
@import "configBase";
@import "header";
@import "footer";
@import "cardTienda";
@import "frases";
@import "darkMode";
body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $bg-colorDesktop;
    color: black;
    transition: background-color .3s;
}

.dropdown-item {
    font-size: 0.8rem;
    font-weight: $font-weight-base*2;
}

.dropdown-menu {
    font-family: $font-use-regular;
}

.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "mainGrid mainGrid ads" "pieDePagina1 pieDePagina1 pieDePagina1";
}

.main0 {
    grid-area: mainGrid;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}

.botonMobile {
    display: none;
}

.ads {
    grid-area: ads;
}

.btn {
    font-weight: $font-weight-base*4;
    font-size: 0.85rem;
    font-family: $font-use-regular;
}

.contenedorServicios {
    margin-top: 20px;
}

.contenedorCarousel {
    width: 100%;
}

.carousel img {
    object-fit: cover;
    object-position: center;
    height: 40vh;
}

// .btnVolverArriba {
//     display: flex;
//     justify-content: center;
//     background-color: white;
//     padding: 10px 18px;
//     width: 10%;
//     border-radius: 5px;
//     margin: 0 auto;
// }
.btnVolverArriba {
    position: fixed;
    width: 8%;
    bottom: 72px;
    left: 40px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 5px 10px;
    z-index: 6;
    box-shadow: 2px 2px 3px #999;
    &:hover {
        background: #acaaaa;
        text-decoration: none;
        transition: 300ms all ease;
    }
}

.inputContacto {
    width: 300px;
    height: 30px;
    transition: all 0.3s;
    &:focus {
        width: 330px;
        font-size: 20px;
    }
}

legend {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.boxFormulario {
    font-family: $font-use-light;
    font-size: large;
    color: black;
    align-content: center;
    background-image: linear-gradient(62deg, #eef2f3 0%, #8e9eab 100%);
    border: 3px solid #8E7A72;
    padding: 14px;
    max-width: max-content;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 3px;
    textarea {
        font-family: inherit;
        font-size: initial;
    }
}

.bordesRedondeados {
    border-radius: 5px;
}

table {
    margin: auto;
    margin-left: auto;
    widows: 150px;
    height: 150px;
    background-color: lightgray;
    color: #000;
    width: 70%;
    overflow: auto;
}

tr {
    font-family: $font-use-light;
    text-align: center;
}

td {
    text-align: center;
}

select {
    margin-left: 5px;
    margin-bottom: 0%;
}

.animate__fadeInDownBig {
    animation-duration: 1s;
}

.animate__bounceIn {
    animation-delay: 1s;
}

.animate__flipInY {
    animation-delay: 10ms;
}


/*Media para tabletas grandes (10 pulgadas)*/

@media all and (min-width: 768px) and (max-width: 959px) {
    body {
        background-color: $bg-colorTablet;
    }
    .navbar {
        @if $bg-colorTablet==rgb(192, 173, 173) {
            background-image: linear-gradient(62deg, #8e9eab 15%, #eef2f3 100%);
        }
        @else {
            background-image: none;
        }
    }
    .header ul {
        padding: 2px;
    }
    .header li {
        padding: 2px;
        border-radius: 4px;
    }
    .menuLista1 {
        padding: 1px;
    }
    .contenedorGrid {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "main1 main1 ads" "pieDePagina1 pieDePagina1 pieDePagina1";
        /*grid-gap:10px*/
    }
    .main1 {
        justify-content: center;
    }
    .botonDesktop {
        display: none;
    }
    .botonMobile {
        display: flex;
        justify-content: space-between;
    }
    .botonDarkMode {
        margin: 5px 15px;
    }
    .dropdown {
        margin: 10px 10px;
    }
    .boxFormulario {
        margin-bottom: 10px;
        justify-content: center;
    }
    .botones {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        margin-left: 460px;
    }
    .card-body {
        padding: 0.25rem;
    }
    .btnVolverArriba {
        position: fixed;
        width: 8%;
        bottom: 72px;
        left: 10px;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
        background-color: white;
        padding: 5px 10px;
        z-index: 6;
        box-shadow: 2px 2px 3px #999;
        transition: 300ms all ease;
    }
    // .btnVolverArriba {
    //     width: 18%;
    // }
    .botonDarkMode {
        margin-right: 10px;
    }
}


/*Media para tablets pequeñas*/

@media all and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: $bg-colorTablet;
    }
    .navbar {
        @if $bg-colorTablet==rgb(192, 173, 173) {
            background-image: linear-gradient(62deg, #8e9eab 15%, #eef2f3 100%);
        }
        @else {
            background-image: none;
        }
    }
    .header ul {
        padding: 2px;
    }
    .header li {
        padding: 2px;
        border-radius: 4px;
    }
    .menuLista1 {
        padding: 1px;
    }
    .contenedorGrid {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "main1 main1 ads" "pieDePagina1 pieDePagina1 pieDePagina1";
        /*grid-gap:10px*/
    }
    .main1 {
        justify-content: center;
    }
    .boxFormulario {
        margin-bottom: 10px;
        justify-content: center;
    }
    .botones {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        margin-left: 460px;
    }
    // .btnVolverArriba {
    //     width: 28%;
    // }
    .btnVolverArriba {
        position: fixed;
        width: 18%;
        bottom: 72px;
        left: 10px;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
        background-color: white;
        padding: 5px 10px;
        z-index: 6;
        box-shadow: 2px 2px 3px #999;
        transition: 300ms all ease;
    }
    .botonDesktop {
        display: none;
    }
    .botonMobile {
        display: flex;
        justify-content: space-between;
    }
    .botonDarkMode {
        margin: 5px 15px;
    }
    .dropdown {
        margin: 10px 10px;
    }
}


/*Media para telefonos con pantalla vertical*/

@media all and (max-width: 479px) {
    body {
        background-color: $bg-colorTablet;
    }
    .navbar {
        @if $bg-colorTablet==rgb(192, 173, 173) {
            background-image: linear-gradient(62deg, #8e9eab 15%, #eef2f3 100%);
        }
        @else {
            background-image: none;
        }
    }
    .header ul {
        padding: 2px;
    }
    .header li {
        padding: 2px;
        border-radius: 4px;
    }
    .menuLista1 {
        padding: 1px;
    }
    .contenedorGrid {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header header" "main1 main1 ads" "pieDePagina1 pieDePagina1 pieDePagina1";
        /*grid-gap:10px*/
    }
    .main1 {
        justify-content: center;
    }
    .boxFormulario {
        margin-bottom: 10px;
        justify-content: center;
        width: 97%;
    }
    .botones {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        margin-left: 460px;
    }
    .boton {
        padding: 16px;
        margin: 5px 5px;
    }
    // .btnVolverArriba {
    //     width: 35%;
    // }
    .btnVolverArriba {
        position: fixed;
        width: 11%;
        bottom: 72px;
        left: 10px;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
        background-color: white;
        padding: 5px 20px;
        padding-right: 60px;
        z-index: 6;
        box-shadow: 2px 2px 3px #999;
        transition: 300ms all ease;
    }
    .botonDesktop {
        display: none;
    }
    .botonMobile {
        display: flex;
        justify-content: space-between;
    }
    .botonDarkMode {
        margin: 5px 15px;
    }
    .dropdown {
        margin: 10px 10px;
    }
}